@import url("https://unpkg.com/purecss@2.0.3/build/pure-min.css");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
body {
    font-family: "Kumbh Sans", sans-serif;
    background-color: dimgray;
    text-align: center;
    padding: 4rem;
}
